
<form>
    <div class="form-group">
        <label for="searchField">Wine</label>
        <div data-bind="template: { name: ViewFor, data: Wine }"></div>
    </div>  
    <div class="form-group">
        <label for="searchField">Year</label>
        <div data-bind="template: { name: ViewFor, data: year }"></div>
    </div> 
    <div class="form-group">
        <label for="searchField">Price</label>
        <div data-bind="template: { name : ViewFor, data : price }"></div>
    </div>   
</form>
