
.suggestions {
    position: absolute; 
    z-index: 1000; 
    margin-top:5px;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 18px -4px rgba(170,170,170,1);
    overflow:hidden;
}

.suggestion .entry {
    cursor: pointer;
    min-width: 300px;
}

.entry {
    padding: 7px;
}

.suggestions .unselected {
    opacity: 0.5
}

 .smallText {
    font-size: smaller;   
}

 .white {
    background-color: rgb(255, 253, 226); 
    color: rgb(85, 96, 85);
}

 .red {
    background-color: rgb(136, 0, 0); 
    color: rgb(255, 238, 238);
}

 .rosee {
    background-color: rgb(255, 238, 238); 
    color: rgb(85, 51, 51);
}


