
.suggestions {
    position: absolute; 
    z-index: 1000; 
    background: white;
}

.suggestions .entry {
    padding: 5px;
}

.suggestions .unselected {
    opacity: 0.5
}

.suggestions .smallText {
    font-size: smaller;   
}

.suggestions .white {
    background-color: rgb(255, 253, 226); 
    color: rgb(85, 96, 85);
}

.suggestions .red {
    background-color: rgb(136, 0, 0); 
    color: rgb(255, 238, 238);
}

.suggestions .rosee {
    background-color: rgb(255, 238, 238); 
    color: rgb(85, 51, 51);
}


