
<div data-bind="template: { name: ViewFor, data: Detail }"></div>
<div><!-- i'm not really doing this am i -->
    <button type="button" class="btn btn-primary" data-bind="click: vote1">1</button>
    <button type="button" class="btn btn-primary" data-bind="click: vote2">2</button>
    <button type="button" class="btn btn-primary" data-bind="click: vote3">3</button>
    <button type="button" class="btn btn-primary" data-bind="click: vote4">4</button>
    <button type="button" class="btn btn-primary" data-bind="click: vote5">5</button>
</div>